---
layout: page
---

{% for bookmarklet in bookmarklets -%}
{% if bookmarklet.file == file %}
  <h1>{{ bookmarklet.bookmarklet }}</h1>
  <p>
    {{ bookmarklet.description }}. Via
    <a href="{{ bookmarklet.sourceUrl }}">{{ bookmarklet.source }}</a>.
  </p>
  <p>
    <a class="btn" href="{{ bookmarklet.dist }}">{{ bookmarklet.bookmarklet }}</a>
  </p>
{% endif %}
{% endfor %} {{ content }}


<p class="return"><a href="/bookmarklets/"><span aria-hidden="true">&larr;</span> Return to bookmarklet list</a></p>
